/* Фон фиолетово-черный */
body {
    background: linear-gradient(135deg, #4b0082, #000000); /* Градиент от фиолетового к черному */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white; /* Белый текст */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота 100% экрана */
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень для текста */
}

